body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Align the main axis in column direction */
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center; /* Center the text inside the elements */
    background-image: url('city.jpeg'); /* Replace with your image filename and extension */
    background-size: cover; /* Cover the entire screen */
    background-position: center; /* Center the image in the page */
    background-repeat: no-repeat; /* Do not repeat the image */
    /* ... any other styles ... */
}

#gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    margin-top: 20px; /* Add space between the player info and the game board */
}

.game-cell {
    width: 100px;
    height: 100px;
    background-color: rgba(240, 240, 240, 0.5); /* semi-transparent white */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ffffff; /* optional: white border for each cell */
}

/* New class for player images */
.player-img {
    max-width: 100%;  /* Ensure the image does not exceed the cell width */
    max-height: 100%; /* Ensure the image does not exceed the cell height */
    object-fit: contain; /* The image will be scaled to maintain its aspect ratio while fitting within the cell */
}


#playerSetup, #playerInfo {
    margin-bottom: 10px;
}

#playerSetup input[type="text"] {
    padding: 10px;
    margin: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#playerSetup button, #playAgain {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#playerInfo {
    display: flex; /* Using flexbox for alignment */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center-align items */
    margin-bottom: 10px;
}

#playerInfo > span, #playerInfo > div {
    margin: 5px 0; /* Add space between and around player names and the current turn */
    display: inline-block; /* Display as inline-block to prevent collapse */
}

.highlight {
    font-weight: bold;
    color: red; /* Customize the highlight color as needed */
}

h1 {
    font-size: 3em; /* Make the title 3 times larger */
    margin-bottom: 0.5em; /* Add some space below the title */
}

#playerInfo > span {
    font-size: 1.5em; /* Increase the font size for player names and current turn */
    display: block; /* Make each span a block to put it on a new line */
    text-align: center; /* Center-align the text */
}

#currentPlayer {
    font-weight: normal;
    font-size: 1.2em; /* Slightly smaller font size for the current turn if desired */
}
